In [11]:
#selenium automacao web
from selenium import webdriver 
from selenium.webdriver.common.keys import Keys

navegador = webdriver.Chrome()


#1 Pegar a cotacao do dolar
navegador.get("https://www.google.com.br/")
#xpath #identifica elementos no site

navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dólar")
navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print (cotacao_dolar)


#2 Pegar a cotacao do euro
navegador.get("https://www.google.com.br/")
navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")
navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print (cotacao_euro)

#3 Pegar a cotacao do ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(",", ".")
print (cotacao_ouro)

navegador.quit()

5.096
5.5273764000000005
315.12

- Importando a base de dados

In [12]:
#4 Atualizar a base

import pandas as pd

tabela = pd.read_excel ("Produtos.xlsx")
display (tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

- Atualizando os preços e o cálculo do Preço Final

In [13]:
#5 Atualizar a cotacao

tabela.loc[tabela ["Moeda"] == "Dólar","Cotação"] = float(cotacao_dolar)
tabela.loc[tabela ["Moeda"] == "Euro","Cotação"] = float(cotacao_euro)
tabela.loc[tabela ["Moeda"] == "Ouro","Cotação"] = float(cotacao_ouro)


#Recalcular os precos

#Preco de compra = cotacao*preco origina

tabela["Preço de Compra"] = tabela ["Cotação"] * tabela ["Preço Original"]
tabela["Preço de Venda"] = tabela ["Preço de Compra"] * tabela ["Margem"]
display (tabela)

#Preco de venda = preco de compra * margem

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.096000,5095.94904,1.40,7134.328656
1,Carro Renault,4500.00,Euro,5.527376,24873.19380,2.00,49746.387600
2,Notebook Dell,899.99,Dólar,5.096000,4586.34904,1.70,7796.793368
3,IPhone,799.00,Dólar,5.096000,4071.70400,1.70,6921.896800
4,Carro Fiat,3000.00,Euro,5.527376,16582.12920,1.90,31506.045480
5,Celular Xiaomi,480.48,Dólar,5.096000,2448.52608,2.00,4897.052160
6,Joia 20g,20.00,Ouro,315.120000,6302.40000,1.15,7247.760000

In [14]:
#6 Exportar a base atualizada
tabela.to_excel ("Produtos_Novo.xlsx", index=False) #index=false para nao exportar o indice que o phyton gera na tabela

In [15]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\matheus ikenaga\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: outcome in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\matheus ikenaga\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)